.date {
  height: 10vh;
  border: 1px solid var(--border-color);
}

.date__current {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 10px 0 0 10px;
}

.date__day {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  margin-left: 10px;
}